.App {
  text-align: center;
  min-height: 100vh; /* so it covers the whole viewport */
  background: linear-gradient(135deg, #a18cd1 0%, #fbc2eb 100%);
}

h1{
 
}

.bgGreen {
  background-color: green;
  color: white;
}

.bgRed {
  background-color: red;
  color: white;
}

.options{
  width: 45%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 10px;
  margin: auto;
}

button{
  height: 50px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
}

.next, .answer, .reset{
  padding: 10px;
  height: 40px;
  margin: 20px 10px;
}

span{
  color: green;
}

.EndQuiz{
  width: 25%;
  height: 30vh;
  border: 1px solid #000000;
  margin: 50px auto;
  align-items: center;
  border-radius: 5px;
}

.EndQuiz > h2{
  margin-top: 50px;
}
